<a href="https://colab.research.google.com/github/deedeeharris/Image-Analysis/blob/main/PAR_analysis/frostroom1_par_loca_ana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PAR analysis per plant - Frostroom 1 (12/2022-03/2023)


Workflow:
1.   Every two weeks, measure PAR 3 times a day at each location of every plant. Fill in excel table array.
2.   Every two weeks, list the exact location of each plant in the grow room. Fill in excel table array. Afterwards, at end of day, swap locations, according to results.
3.   Load both array as numpy 2-D, flatten, add both to a df, first col is the ID's, second col is the PAR. Sort by ID, 1 to 88 (plant ID).
4.   Add the 3 PAR measurements to the DF, interpolate, and get the daily cumulative PAR per plant. 
5.   Change plant location according to the experiment cumulative PAR, so that all plants get a total of the same PAR.

## libs and functions

In [1]:
# libs
import pandas as pd
import cv2
import numpy as np
import seaborn as sns
import skimage

In [2]:
# mount google drive

# declare folder path
folder_path = r'/content/drive/MyDrive/LabFiles/smart_verticrops/experiments/cultivar testing/exp1_frostroom/logs/plant_location_and_PAR'

In [53]:
# function to read in csv array (numbers) into a numpy arrays, and create df
def csv_to_arr(filename_locs, filename_par):

  # csv to numpy array
  locations_arr = pd.read_csv(f'{folder_path}/{filename_locs}', header=None).values
  par_arr = pd.read_csv(f'{folder_path}/{filename_par}', header=None).values

  # flatten both csv, and add to df
  df_plant_par = pd.DataFrame()
  df_plant_par['ID'] = locations_arr.flatten()
  df_plant_par['PAR'] = par_arr.flatten()

  # make the ID col as index, and sort by ID
  df_plant_par = df_plant_par.set_index('ID') 
  df_plant_par = df_plant_par.sort_index(axis=0, ascending=True, inplace=False)

  # drop all rows that the ID is zero (means that there is no plant there)
  df_no_zero = df_plant_par[ df_plant_par.index > 0 ] # Step 1
  return locations_arr, par_arr, df_no_zero

# First measurement - 04/12/2022

In [54]:
# read in plant location csv
filename_locs = 'locs041222.csv'
filename_par = 'par041222.csv'
locs_arr, par_arr, df_041222 = csv_to_arr(filename_locs, filename_par)

In [55]:
df_041222

    PAR
ID
1   500
2   121
3   125
4   500
5   540
..  ...
84  240
85  131
86  123
87  150
88  135

[88 rows x 1 columns]